#caixaBlocos {
    height: 200px;
    /*border: 1px solid black;*/
    width:100%;
    background-color: white;
}
.boxBoneco {
    height: 100px;
    background-image: url("../images/parado.gif");
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    position: relative;
    top:42%;
    left: 100px;
    float:left;
    z-index: 100;

}
.novoBloco {
    position:absolute;
    display: inline-block;
}