<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>CadastroServlet</servlet-name>
		<display-name>CadastroServlet</display-name>
		<description></description>
		<servlet-class>Controller.CadastroServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>Controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Jogo</servlet-name>
		<display-name>Jogo</display-name>
		<description></description>
		<servlet-class>View.Jogo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RankingServlet</servlet-name>
		<display-name>RankingServlet</display-name>
		<description></description>
		<servlet-class>Controller.RankingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GerarBancoServlet</servlet-name>
		<display-name>GerarBancoServlet</display-name>
		<description></description>
		<servlet-class>Controller.GerarBancoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JogoServlet</servlet-name>
		<display-name>JogoServlet</display-name>
		<description></description>
		<servlet-class>Controller.JogoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LimpaBancoServlet</servlet-name>
		<display-name>LimpaBancoServlet</display-name>
		<description></description>
		<servlet-class>Controller.LimpaBancoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>Controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NaoEncontradoServlet</servlet-name>
		<display-name>NaoEncontradoServlet</display-name>
		<description></description>
		<servlet-class>Controller.NaoEncontradoServlet</servlet-class>
	</servlet>
	<error-page>
		<error-code>404</error-code>
		<location>/nao-encontrado</location>
	</error-page>
</web-app>
